$void: #0e0b16;
$purple: #94478E;
$grey: #e7dfdd;
$divider: #cbc0be;
$head-height: 110px;
$foot-height: 70px;
$collapse: 1000px;
$collapse-foot: 700px;
$menu-transition: .5s;

@mixin flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin flex-align-start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

@mixin flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin flex-justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-value($value) {
  -webkit-box-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // set font size to 10px ready for easy coversions to rem
  min-height: 100vh;
}

body { // font, font size, alignment, margin and colour
  @include flex-display;
  @include flex-dir-column;
  background-color: $grey;
  color: $void;
  font-family: 'Sarabun', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

a { // colour and transition
  color: $purple;
  text-decoration: none;
  -webkit-transition: color $menu-transition ease;
  transition: color $menu-transition ease; // transition for colour change on hover
}

a:hover {

}

// ----HEADER----

header { // flexbox, font size, height, position, z-index (s)
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  font-size: 3rem;
  height: .7 * $head-height;
  position: relative;
  z-index: 1;

  .logo {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  a { // text-decoration
    color: $grey;
    font-weight: 300;
    text-decoration: none;
    width: 100%;
  }

  .head { // flexbox background colour, font size, height, width
    @include flex-align-center;
    @include flex-display;
    @include flex-dir-row;
    @include flex-justify-space-between;
    background-color: $void;
    // shadow below header
    -webkit-box-shadow: 0 3px 15px $void;
    box-shadow: 0 3px 15px $void;
    font-size: 1.75rem;
    font-weight: 800;
    height: .7 * $head-height;
    width: 100%;
  }
}

@media (min-width:$collapse) { // header, head, h1
  header { // colour, shadow, flexbox, height (s)
    @include flex-dir-row;
    @include flex-justify-space-between;
    background-color: $void;
    // shadow below header
    -webkit-box-shadow: 0 3px 15px $void;
    box-shadow: 0 3px 15px $void;
    height: $head-height;

    .head { // remove shadow, alter width
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 35%;
    }
  }
}

@media (min-width:600px) { // min-height (title), font size
  header {
    .logo {
      font-size: 3.5rem;
    }
  }
}

@media (min-width:740px) { // font size
  header {
    .logo {
      font-size: 4.5rem;
    }
  }
}

@media (min-width:1000px) { // font size
  header {
    .logo {
      font-size: 5.5rem;
    }
  }
}

// ----NAVBAR----

.nav-link { // padding (s)
  padding: 15px 15px 10px;

  div {
    display: inline-block;

    &:after {
      display: block;
      content: '';
      border-bottom: solid 3px $grey;
      transform: scaleX(0);
      transition: transform $menu-transition ease-in-out;
    }
  }

  &:not(:last-child) { // aligns links vertically with each other
    padding-bottom: 21px;
  }
}

.active {
  font-weight: bold;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active { // style the nav links on hover
  div {
    &:after {
       transform: scaleX(1);
    }
  }
}

.my-btn { // burger - background, border, margin
  background: transparent; // remove button background
  border: 0; // remove button border
  margin: 0 30px 0 0;

  #burger { // styling lines in hamburger, transitions
    line {
      stroke: $grey;
      stroke-linecap: round;
      stroke-width: 3px;
		}

    #one,
		#two,
		#three {
      opacity: 1;
      -webkit-transition: all $menu-transition ease-in-out;
      transition: all $menu-transition ease-in-out; // transition to cross
		}
	}
}

.my-btn.active { // hamburger to cross when expanded
  #burger {
    #one { // transform top line to part of cross
      -webkit-transform: translateX(24px) translateY(-6px) rotate(45deg);
      transform: translateX(24px) translateY(-6px) rotate(45deg);
		}

    #two { // hide middle line
      opacity: 0;
		}

    #three { // transform bottom line to part of cross
      -webkit-transform: translatex(-19px) translateY(22px)rotate(-45deg);
      transform: translatex(-19px) translateY(22px)rotate(-45deg);
		}
	}
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active { // turn hamburger black and bold on hover
  #burger {
    line {
      stroke: $grey;
      stroke-width: 4px;
      -webkit-transition: stroke $menu-transition ease, stroke-width $menu-transition ease;
      transition: stroke $menu-transition ease, stroke-width $menu-transition ease;
		}
	}
}

.closed { // hide menu by default
  display: none;
}

.show { // show menu when button is clicked - flexbox, width, positioning
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  background-color: $void;
  width: 100%;
  position: absolute;
  top: .7 * $head-height;
  left: 0;
}

@media (min-width:$collapse) { // hide button, show menu
  .my-btn { // hide button
    display: none;
  }

  .closed { // show menu - flexbox
    @include flex-align-center;
    @include flex-display;
    @include flex-dir-row;
    width: 50%;
    opacity: 100% !important;
  }

  .nav-link:not(:last-child) {
    padding-bottom: 10px;
  }
}

// ----HEADINGS----

.title { // flexbox, background, colour, height, padding, text shadow, width
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  @include flex-justify-center;
  color: $void;
  min-height: 75px;
  padding: 0 10px;
  // text-shadow: 2px 2px 7px $black-black;
  width: 100%;
}

h1 { // font size
  font-size: 2.5rem;
}

@media (min-width:600px) { // min-height (title), font size
  .title {
    min-height: 100px;
  }

  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width:740px) { // font size
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width:1000px) { // font size
  h1 {
    font-size: 5.5rem;
  }
}

main { // flexbox, position, z-index (s)
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  position: relative;
  z-index: 0;
}

.content {
  @include flex-align-start;
  @include flex-display;
  @include flex-dir-row;
  width: 100%;
}

// ----POSTS----

.postList {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  margin: 30px;
  width: 70%;
}

.post {
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;

  .postHeader {
    &:after {
      border-bottom: 1px solid $divider;
      content: "";
      display: block;
      margin: 0 auto 40px;
      width: 35%;
    }

    .date {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    .postTitle {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }

  .picture {
    img {
      width: 60%;
    }
  }

  .snippet {
    font-size: 1.8rem;
    margin: 20px 0;
  }

  &:after {
    border-bottom: 1px solid $divider;
    content: "";
    display: block;
    margin: 0 auto 40px;
    width: 100%;
  }
}

.postPage {
  .post {
    border: none;
    margin: 30px;
    width: 70%;
  }

  .postContent {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .snippet {
    font-weight: bold;
    margin-bottom: 0;
  }
}

// ----ASIDE----

aside {
  border-left: 1px solid $divider;
  padding-left: 20px;
  margin-top: 70px;
  width: 20%;

  h2 {
    border-bottom: 1px solid $divider;
    font-size: 1.8rem;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: auto;
  }
}

// ----FOOTER----

footer { // flexbox and background colour (s)
  @include flex-align-center;
  @include flex-display;
  @include flex-dir-column;
  background-color: $void;
  color: $grey;
  padding-bottom: 10px;

  img { // font size & margin
    margin: 10px;
  }

  .contact { // flexbox (s)
    @include flex-display;
    @include flex-dir-column;

    a { // padding and remove underline
      padding: 5px;
      text-decoration: none;
    }
  }
}

@media (min-width: $collapse-foot) { // layout for larger screens
  footer { // change to row
    @include flex-dir-row;
    height: auto;
    margin-top: auto;
    max-height: 100px;
    padding: 10px 0;

    a {
      color: $grey;

      &:hover,
      &:focus {
        color: $grey;
      }
    }

    .footer-logo {
      width: 35%;
    }

    img { // increase left margin
      margin-left: 30px;
    }

    .contact { // change to row & alter margins to auto, 30px
      @include flex-dir-row;
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
